/*
.formSignUpContainer{
    display: flex!important;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    align-items: center;
    justify-content: center;
}

.formSignUp{
    color: black;
    display: flex;
    flex-direction: column;
    width: 100%;
}

.formSignUp label {
    color: #2675EC!important;
    font-family: 'Space Grotesk'!important;
}

.formSignUp input{
    color: black;
    font-family: 'Space Grotesk'!important;
}

.formSignUp input + fieldset{
    border-color: #2675EC!important;
}

.formSignUp label + div{
    margin-bottom: 1.5em;
}

.signUpButton{
    background-color: #2675EC!important;
}
*/